ci:
  autofix_prs: false
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v5.0.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: docs/static/app-structures.jpg
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: name-tests-test
  - repo: 'https://github.com/codespell-project/codespell'
    rev: v2.4.1
    hooks:
      - id: codespell
  - repo: 'https://github.com/charliermarsh/ruff-pre-commit'
    rev: v0.11.7
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format
  - repo: 'https://github.com/pre-commit/mirrors-mypy'
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies:
          - dask[distributed]
          - globus-compute-sdk
          - proxystore >= 0.6.5
          - pydantic >= 2
          - pydantic-settings >= 2.3.0
          - types-psutil
          - types-requests
